<!-- Hacker cursor element -->
<div class="cursor"></div>

<!-- Hacker popup container -->
<div id="popup-container" class="popup-container">
  <div class="border-bottom border-right">1</div>
  <div class="border-content-bottom">2</div>
  <div class="border-bottom border-left">3</div>

  <div class="border-content-right">4</div>

  <div class="content" style="width: 500px">
    <!-- Popup content will be dynamically inserted here -->
    <div id="popup-content">
      <h2>Hacker Popup</h2>
      <p>This is a sample hacker-style popup.</p>
    </div>
  </div>

  <div class="border-content-left">6</div>

  <div class="border-right border-top">7</div>
  <div class="border-content-top">8</div>
  <div class="border-left border-top">9</div>
</div>